# This is a basic workflow to help you get started with Actions

name: Build Artifacts

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: "Firefox: Rename manifest"
        run: mv manifest.v2.json manifest.json
        
      - name: "Firefox: web-ext build"
        id: web-ext-build-firefox
        uses: kewisch/action-web-ext@v1
        with:
          cmd: build
          filename: "{name}-{version}-firefox.zip"
          
      - name: "Chrome: Rename manifest"
        run: mv manifest.v3.json manifest.json
        
      - name: "Chrome: web-ext build"
        id: web-ext-build-chrome
        uses: kewisch/action-web-ext@v1
        with:
          cmd: build
          filename: "{name}-{version}-chrome.zip"
      
      - name: "Create Release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
           ${{ steps.web-ext-build-chrome.outputs.target }}
